.contact_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f9ec;
  padding: 50px 0px;
  margin-top: 50px;
}
.contact_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
}
.contact_inner span {
  color: var(--darkgreen);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 600;
  line-height: 32px; /* 200% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.contact_inner h2 {
  font-family: var(--font);
  color: #002313;
  font-size: 38px;
  max-width: 350px;
  text-align: center;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: -0.8px;
  margin: 10px 0px;
}
.contact_flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.contact_item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
}
.contact_icon_case {
  display: flex;
  width: 43px;
  height: 43px;
  min-width: 43px;
  min-height: 43px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  background-color: var(--darkgreen);
  margin-right: 10px;
  border-radius: 5px;
}
.contact_text_case h5 {
  color: #020e27;
  font-family: var(--font);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.72px;
  text-transform: uppercase;
}
.contact_text_case span {
  font-family: var(--font);
  color: #364259;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px; /* 177.778% */
  letter-spacing: -0.36px;
}

.contact_inner form {
  width: 100%;
  background-color: white;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact_inner form .form_flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  column-gap: 20px;
}
.contact_inner form .form_flex input {
  width: 50%;
  height: 30px;
  border: none;
  border: 1px solid #e4e8f1;
  padding: 20px;
}
.contact_inner form textarea {
  width: 100%;
  height: 100px;
  border: none;
  border: 1px solid #e4e8f1;
  padding: 20px;
  margin-bottom: 20px;
}
.contact_inner form button {
  display: flex;
  padding: 12px 20px;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: var(--lightgreen);
  color: white;
}

@media screen and (max-width: 700px) {
  .contact_inner {
    width: 90%;
  }
  .contact_inner span {
    font-size: 14px;
  }
  .contact_inner h2 {
    font-size: 25px;
    max-width: 300px;
    line-height: 35px;
    margin: 10px 0px;
  }
}
@media screen and (max-width: 500px) {
  .contact_flex {
    flex-direction: column;
    width: 100%;
  }
  .contact_item {
    width: 90%;
    margin: 20px 0px;
    justify-content: flex-start;
  }
  .form_flex {
    flex-direction: column;
    gap: 20px;
  }
  .contact_inner form .form_flex input {
    width: 100%;
  }
}
