.footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--darkgreen);
}
.footer_top {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 70px 0px;
}
.footer_top_left {
  max-width: 500px;
}
.footer_top_left p {
  color: #edeefd;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: -0.32px;
  margin: 20px 0px;
}
.socials {
  display: flex;
  align-items: center;
}
.socials .icon {
  margin-right: 20px;
  cursor: pointer;
}

.footer_top ul {
  list-style-type: none;
}

.footer_top ul li {
  color: #fff;
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-top: 10px;
  cursor: pointer;
}
.footer_top ul li a {
  color: #fff;
  text-decoration: none;
}

.footer_bottom {
  width: 100%;
  background: #cbe5a7;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_bottom span {
  color: #3b531a;
  font-family: var(--font);
  font-size: 13px;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.24px;
}

@media screen and (max-width: 1000px) {
  .footer_top {
    flex-wrap: wrap;
  }
  .footer_top ul {
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  .footer_top {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer_top ul {
    width: 100%;
    margin-top: 30px;
  }
  .footer_bottom span {
    text-align: center;
  }
}
