@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  --font: "Be Vietnam Pro", serif;
  --lightgreen: #8dc63f;
  --darkgreen: #006838;
}

.faq-row {
  margin: 30px 0px !important;
}
.row-title-text {
  color: #006838;
  font-family: var(--font);
  font-size: 17px;
  font-weight: 500;
  line-height: 22px; /* 127.273% */
}

.styles_row-content-text__2sgAB {
  color: #5d6a83 !important;
  font-family: var(--font);
  font-size: 15px !important;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
@media screen and (max-width: 900px) {
  .row-title-text {
    font-size: 14px; /* 127.273% */
  }

  .styles_row-content-text__2sgAB {
    font-size: 14px !important; /* 166.667% */
  }
}
