.nav_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: rgba(0, 104, 56, 0.3); */
  background: transparent;
  width: 100%;
  color: white;
  position: fixed;
  z-index: 5;
  top: 0;
  transition: 0.5s ease;
}
.nav_scrolled {
  background: rgb(0, 104, 55);
}

.black {
  color: black !important;
  background-color: white !important;
  box-shadow: -1px 11px 5px -5px rgba(0, 0, 0, 0.08);
}
.black .nav_inner_right ul li a {
  color: black !important;
}

.top_bar {
  width: 100%;
  background: #f4f9ec;
  padding: 7px 0px;
  color: var(--darkgreen);
  display: flex;
  align-items: center;
  justify-content: center;
}
.top_bar span {
  margin-left: 10px;
}
.nav_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 15px 0px;
}
.nav_inner_right {
  display: flex;
  align-items: center;
}
.nav_inner_right ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin-left: 20px;
}
.nav_inner_right ul li {
  margin: 0px 20px;
}
.nav_inner_right ul li a {
  color: #fff !important;
  font-family: var(--font);
  font-size: 13px;
  font-weight: 500;
  line-height: 36px; /* 257.143% */
  text-decoration: none;
  display: block;
}

.nav_inner_left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav_inner_left input {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: white;
}
.black .nav_inner_left input {
  color: black;
}
.nav_inner_left input:focus {
  outline: none;
}
.nav_inner_left input::placeholder {
  color: white;
}
.black .nav_inner_left input::placeholder {
  color: black;
}

.hamburger {
  display: none;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 6; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--darkgreen);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 5px -1px 17px -6px rgba(255, 255, 255, 0.325);
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  text-wrap: nowrap;
  transition: 0.3s;
  margin-top: 15px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 50px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav_inner {
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 0px 10px;
  margin: 30px;
}
.sidenav_inner input {
  height: 30px;
  width: 90%;
  color: #f1f1f1;
  background-color: transparent;
  border: none;
}
.sidenav_inner input::placeholder {
  color: #f1f1f1;
}
.sidenav_inner input:focus {
  outline: none;
}
.sidenav ul {
  margin: 30px 0px;
}
@media screen and (max-width: 1145px) {
  .nav_inner_right ul {
    display: none;
  }
  .nav_inner_left input,
  .nav_inner_left .searchIcon {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .nav_container {
    background-color: var(--darkgreen);
  }
  .bottom_bar {
    background: #8dc63f;
    height: 8px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .sidenav a {
    font-size: 20px;
    margin-top: 15px;
  }
  .top_bar {
  font-size: 13px;
  }
}
