.features_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.features_top {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  gap: 30px;
}
.features_left img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.features_right_flex {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.features_right span {
  color: var(--darkgreen);
  font-family: var(--font);
  font-size: 15px;
  font-weight: 600;
  line-height: 32px; /* 200% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features_right h2 {
  font-family: var(--font);
  color: #002313;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px; /* 125% */
  letter-spacing: -0.24px;
  margin: 20px 0px;
}
.features_right_flex p {
  color: #000;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px; /* 125% */
  letter-spacing: -0.24px;
}
.features_bottom {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0px;
}
.features_bottom_right {
  min-width: 500px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.features_bottom_right img {
  position: absolute;
  height: 100%;
  object-fit: cover;
}
.features_bottom_right_img {
  bottom: -30px;
  right: 0;
  width: 260px;
}
.features_bottom_left_img {
  width: 300px;
  left: 0;
}
.features_bottom_left {
  max-width: 550px;
}
.features_bottom_left h2 {
  color: #002313;
  font-family: var(--font);
  font-size: 30px;
  font-weight: 700;
  line-height: 40px; /* 140.625% */
}
.features_bottom_left ul {
  margin: 30px 0px;
}
.features_bottom_left li {
  color: #1e1e1e;
  font-family: var(--font);
  font-size: 17px;
  font-weight: 400;
  margin-top: 7px;
  line-height: 28px; /* 155.556% */
}
.features_bottom_left button {
  padding: 8px 23.445px 8px 23.645px;
  border: none;
  background-color: var(--lightgreen);
  color: white;
}
